*_, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	overflow: auto;
}

input:focus { outline: solid gray thin; }
select:focus { outline: solid gray thin; }
button:focus { outline: none; }
textarea:focus { outline: none; }

#wrapper {
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding: 6px;
	background: #FFF;
}

section#nav {
	background: #FFF;
	width: 150px;
	min-width: 150px
	flex: 1;
}

section#todolist {
	flex: 2;
	display: flex;
	flex-direction: column;
	border: thin solid #000;
}

div#task-edit-wrapper {
	flex: 1;
	max-height: 50px;
}

#todo-wrapper {
	flex: 5;
}

/* ********** */
/* navigation */ 
/* ********** */

nav {
	cursor: pointer;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}

nav li:hover {
	background: #778899
}
nav .tag-name {
	border-top: 1px solid #FFF;
	background: #DCDCDC;
	text-align: center;
}

nav .active {
	background-color: #778899;
}
nav .tag-list {
	background: #FFF;
	padding-left: 8px;
	text-align: left;
}

/* ******************** */
/* ** TodoTxt Editor ** */
/* ******************** */

#editor {
	padding: 6px;
	white-space: nowrap;
	overflow-x: scroll;
	font: 16px/1.2 courier;
}

/* **************** */
/* ** todo lists ** */
/* **************** */

#task-list {
	margin-top: 0px;
	overflow-y: scroll;
}

#task-list ul {
	list-style-type: none;
	margin-right: 2px;
	padding-left: 6px;
}

#task-list li {
	margin: 3px auto;
	font-size: 1em;
}

#task-list li:hover {
	background: #DCDCDC;
}

#task-list li.tag-heading {
	text-align: center;
}

li.task-item {
	display: flex;
	justify-content: space-between;
	border: solid gray thin;
	margin-top: 6px;
	padding: 6px;
}

li.task-item div {
	padding: 0px;
	/* margin: -2px 0px; */
}

div.task-description {
	cursor: pointer;
	max-width: 550px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

div.task-meta {
	min-width: 400px;
	width: 60%;
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
}

div[class^="task-meta-"] {
	margin: 0px 6px;
	/* width: 8em; */
}

div.task-meta-project {
	cursor: pointer;
}

div.task-meta-context {
	cursor: pointer;
}

div.task-meta-custom-tags span {
	/* border: thin solid; */
	cursor: pointer;
}

div.task-meta-custom-tags span.custom-tag-key {
	margin-left: 2px;
	padding: 1px 2px 1px;
	background-color: #aacaFF;
	border: 1px solid #CCDCFF;
	border-top-left-radius: 20%;
	border-bottom-left-radius: 20%;
}

div.task-meta-custom-tags span.custom-tag-value {
	margin-right: 2px;
	padding: 1px 2px 1px;
	background-color: #FFF;
	border: 1px solid #CCDCFF;
	border-top-right-radius: 20%;
	border-bottom-right-radius: 20%;
}

div.task-meta-priority {
	display: inline-block;
	cursor: pointer;
	border-radius: 18%;
	width: 20px;
	max-width: 20px;
	max-height: 18px;
	margin: auto 6px auto 2px;
	color: #FFF;
	text-align: center;
	line-height: 1.25em;
	font-family: sans-serif;
}

.priority-color-A {
	background-color: dodgerblue;
}

.priority-color-B {
	background-color: deepskyblue;
}

.priority-color-C {
	background-color: powderblue;
}

/* *************** */
/* completed todos */
/* *************** */

#task-list ul#list-completed li.tag-heading {
	cursor: pointer;
	text-align: left;
}

li.task-completed {
	/* text-decoration: line-through; */
}

ul#list-completed .tag-heading ~ li {
	display: none;
}

ul#list-completed.show-completed .tag-heading ~ li {
	display: flex;
}

/* https://stackoverflow.com/questions/14593415/how-to-strike-through-obliquely-with-css#answer-14593540
	 with the rotation removed - gives a strikethrough the spans the list item instead of each div
*/

li.task-completed {
  position: relative;
}
li.task-completed:before {
  position: absolute;
  content: "";
  left: 2px;
  top: 50%;
  right: 2px;
  border-top: 1px solid;
  border-color: inherit;
}


input[type=checkbox].css-checkbox {
	position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height:1px;
	 width:1px;
	 margin:-1px;
	 padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px;
	 display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
.css-label {
	background-image:url(http://www.csscheckbox.com/checkboxes/lite-x-gray.png);
}

/* ************** */
/* task edit form */
/* ************** */

#task-options {
	border: solid blue thin;
	background-color: #FFF;
	display: none;
	visibility: hidden;
	position: absolute;
	width: 60%;
}

#task-options div {
	height 30px;
	margin: 8px 2px;
	font-size: 16px;
}

#task-options div#fortags {
	display: flex;
}

#task-options div#fortags label {
	margin-right: 6px;
}

#task-options select {
	font-size: 16px;
}

#task-options input {
	padding-left: 8px;
	font-size: 16px;
}

#task-options textarea {
	font-size: 16px;
}

.form-button {
	border: solid green 1px;
	font-size: 16px;
}

form#taskEdit {
	border: solid red 5px;
	background-color: #FFF;
}

form#task-edit #description {
	width: 95%;
	font-size: 20px;
}

input[type=checkbox] {
	border: 5px solid blue;
  transform: scale(1.75);
	margin: 0 4px;
	outline: none;
	padding: 28px;
}

.fa-trash {
	font-size: 18px;
	color: #BBB;
}

i.deletebutton {
	float: right;
}

i#downloadbutton {
	float: right;
	cursor: pointer;
}

.fa-file-download {
	size: 3x;
}


dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 440px;
	height: 240px;;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: -220px;
	margin-top: -220px;
	padding: 0px;
	background: #F48942;
}

dialog p {
	margin: 8px;
	text-align: justify;
	font-size: 32px;
	font-weight: bold;
}

dialog a {
	border: 1px solid;
	width: 160px;
	padding: 8px;
	background: #FFA500;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	color: black;
}
