*_, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
	height: 100%;
}

input:focus { outline: solid gray thin; }
select:focus { outline: solid gray thin; }
button:focus { outline: none; }

/* ********** */
/* todo lists */
/* ********** */

#task-list  li.tag-heading {
	text-align: center;
}

#task-list ul#list-completed li.tag-heading {
	text-align: left;
}

#task-list {
	margin-top: 6px;
	overflow-y: scroll;
}

#task-list ul {
	list-style-type: none;
}

#task-list li {
	margin-bottom: 4px;
	font-size: 1em;
}

 li.task-item  div {
	padding: 0px;
	margin: 0px;
	margin-top: -2px;
}

 li.task-item div.task-description {
	display: inline-block;
	cursor: pointer;
}

li.task-item {
	border: solid gray thin;
	margin-top: 6px;
	padding: 6px;
}

li.task-completed {
}

li.task-completed div.task-description {
	text-decoration: line-through;
}

ul#list-completed {
	cursor: pointer;
}

ul#list-completed .tag-heading ~ li {
	display: none;
}

ul#list-completed.show-completed .tag-heading ~ li {
	display: block;
}

.task-meta span {
	display: inline-block;
	min-width: 40px;
	cursor: pointer;
	display: inline-block;
	margin: 0 8px;
}

input[type=checkbox].css-checkbox {
	position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height:1px;
	 width:1px;
	 margin:-1px;
	 padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px;
	 display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
.css-label {
	background-image:url(http://www.csscheckbox.com/checkboxes/lite-x-gray.png);
}

.task-meta-priority {
	text-align: right;
}


/* ************** */
/* task edit form */
/* ************** */

#task-options {
	border: solid blue thin;
	background-color: #FFF;
	display: none;
	visibility: hidden;
	position: absolute;
	width: 60%;
}

#task-options div {
	height 30px;
	margin: 8px 2px;
	font-size: 16px;
}

#task-options div#fortags {
	display: flex;
}

#task-options div#fortags label {
	margin-right: 6px;
}

#task-options select {
	font-size: 16px;
}

#task-options input {
	padding-left: 8px;
	font-size: 16px;
}

#task-options textarea {
	font-size: 16px;
}

.form-button {
	border: solid green 1px;
	font-size: 16px;
}

form#taskEdit {
	border: solid red 5px;
	background-color: #FFF;
}

form#task-edit #description {
	width: 95%;
	font-size: 20px;
}

input[type=checkbox] {
	border: 5px solid blue;
  transform: scale(1.75);
	margin: 0 4px;
	outline: none;
	padding: 28px;
}

.fa-trash {
	font-size: 18px;
	color: #BBB;
}

i.deletebutton {
	float: right;
}

i#downloadbutton {
	float: right;
	cursor: pointer;
}

.fa-file-download {
	size: 3x;
}


dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 440px;
	height: 240px;;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: -220px;
	margin-top: -220px;
	padding: 0px;
	background: #F48942;
}

dialog p {
	margin: 8px;
	text-align: justify;
	font-size: 32px;
	font-weight: bold;
}

dialog a {
	border: 1px solid;
	width: 160px;
	padding: 8px;
	background: #FFA500;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	color: black;
}
