input:focus { outline: solid gray thin; }
select:focus { outline: solid gray thin; }

#wrapper {
	display: flex;
}

nav {
	flex: 2;
	border: solid gray thin;
}

nav ul {
	padding: 0;
	list-style-type: none;
}

ul.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav li {
	display: inline;
	flex: 1;
	border: solid gray thin;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-left: 1px;
	text-align: center;
}

.tab-pane ul {
	padding-left: 8px;
	padding-top: 3px;
	margin-top: 0;
}

.task-pane {
	display: none;
}

.task-pane.active {
	display: block;
}

#task-list {
	flex: 5;
}

.nav { 
	cursor: pointer;
	margin-bottom: 0;
	background-color: #FFF;
}
.nav .active { 
	color: red;
	border-bottom: none;
}
.tab-pane {
	display: none;
}
.tab-pane.active {
	display: block;
	padding-top: 0;
}
.tab-content {
	border: solid gray thin;
	border-top: none;
}
#wrapper {
	border: solid black;
	width: 800px;
	margin: 10px auto;
}

h1#main-title {
	text-align: center;
}

form#taskEdit {
	border: solid black thin;
	background-color: #FFF;
}

form#taskEdit #description {
	font-size: 20px;
}

input[type=checkbox] {
	border: 5px solid blue;
  transform: scale(1.75);
	margin: 0 4px;
	outline: none;
	padding: 28px;
}

#task-options {
	border: solid blue thin;
	position: absolute;
	left: 30%;
	right: 30%;
	margin: 10px auto;
	/* display: none; */
	background-color: #FFF;
}

#task-list {
	font: sans-serif;
	height: 500px;
	overflow-y: scroll;
}

#task-list ul {
	list-style-type: none;
	cursor: pointer;
}

#task-list li {
	margin-bottom: 4px;
	font-size: 1.2em;
	font-weight: bold;
}


#task-list li div {
	display: flex;
	padding: 0px;
	margin: 0px;
	margin-top: -2px;
	color: rgba(78, 78, 242, 0.6); // #4E4EF2;
}

.task-list .context {
	color: #A9A9A9;
}

.task-due {
	flex: 1;
	margin: 0px 2px;
	max-width: 80px;
	padding-top: 0px;
	font-size: 0.6em;
}

.task-priority {
	flex: 1;
	margin: 0px 2px;
	max-width: 80px;
	padding-top: 0px;
	font-size: 0.6em;
}

#completed:checked + input {
	background: #DDD;
	text-decoration: line-through;
}
