html, body {
	padding: 0;
	margin: 0;
	height: 100%;
}

html {
	overflow: hidden;
}

body {
	overflow: auto;
}

#wrapper {
	height: 100vh;
	display: flex;
	flex-direction: row;
	padding: 6px;
	background: #FFF;
}

section#nav {
	background: #FFF;
	width: 200px;
	min-width: 200px;
	flex: 1;
}

section#todolist {
	width: 80%;
	flex: 5;
	display: flex;
	flex-direction: column;
	border: thin solid #000;
}

div#task-edit-wrapper {
	flex: 1;
	max-height: 50px;
}

#todo-wrapper {
	flex: 5;
}

/* ********** */
/* navigation */ 
/* ********** */

nav {
	cursor: pointer;
}

nav ul {
	list-style-type: none;
	padding-left: 0;
}

nav li:hover {
	background: #778899
}
nav .tag-name {
	border-top: 1px solid #FFF;
	background: #DCDCDC;
	text-align: center;
}

nav .active {
	background-color: #778899;
}
nav .tag-list {
	background: #FFF;
	padding-left: 8px;
	text-align: left;
}

/* ******************** */
/* ** TodoTxt Editor ** */
/* ******************** */

#editor {
	padding: 6px;
	white-space: nowrap;
	overflow-x: scroll;
	font: 16px/1.2 courier;
}

/* ********** */
/* todo lists */
/* ********** */

	li.task-item {
		display: flex;
		justify-content: space-between;
	}
	
	div.task-description {
		max-width: 550px;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}
	div.task-meta {
		min-width: 400px;
		width: 40%;
		display: flex;
		flex-direction: row;
		justify-content: space-between;
	}

	div[class^="task-meta-"] {
		width: 8em;
	}

	div.task-meta-project {
		cursor: pointer;
	}

	div.task-meta-context {
		cursor: pointer;
	}

	div.task-meta-priority {
		cursor: pointer;
		border-radius: 18%;
		width: 20px;
		max-width: 20px;
		max-height: 18px;
		color: #FFF;
		text-align: center;
		line-height: 1.25em;
		font-family: sans-serif;
	}

	.priority-color-A {
		background-color: dodgerblue;
	}

	.priority-color-B {
		background-color: deepskyblue;
	}

	.priority-color-C {
		background-color: powderblue;
	}


