*_, *:before, *:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

input:focus { outline: solid gray thin; }
select:focus { outline: solid gray thin; }
button:focus { outline: none; }

#wrapper {
	max-width: 980px;
	margin: 10px auto;
	display: flex;
	flex-direction: row;
}

section {
	min-height: 500px;
	min-width: 80px;
}

/* ********** */
/* navigation */ 
/* ********** */

section#nav {
	flex: 1;
}

nav {
	flex: 2;
}

nav ul {
	padding: 0;
	list-style-type: none;
}

ul.nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.nav li {
	display: inline;
	flex: 1;
	border: solid gray thin;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	margin-left: 1px;
	text-align: center;
}

.tab-pane ul {
	padding-left: 8px;
	padding-top: 3px;
	margin-top: 0;
}

.task-pane {
	display: none;
}

.task-pane.active {
	display: block;
}

#task-list {
	flex: 5;
}

.nav { 
	cursor: pointer;
	margin-bottom: 0;
	background-color: #FFF;
}
.nav .active { 
	color: red;
	border-bottom: none;
}
.tab-pane {
	display: none;
	cursor: pointer;
}
.tab-pane.active {
	display: block;
	padding-top: 0;
}

.tab-pane ul li:hover {
  background-color: powderblue;
  transition: background-color .5s;
}

.tab-content {
	border: solid gray thin;
	border-top: none;
}

/* ********** */
/* todo lists */
/* ********** */

section#todolist {
	flex: 5;
}

#todo-wrapper {
	min-height: 200px;
}

.task-category-divider {
	text-align: center;
}

.task-category-divider:before {
	content: '< ';
}

.task-category-divider:after {
	content: ' >';
}

#task-list {
	margin-top: 6px;
	font: sans-serif;
	height: 100vh;
	overflow-y: scroll;
}

#task-list ul {
	list-style-type: none;
}

#task-list li {
	margin-bottom: 4px;
	font-size: 1.2em;
	font-weight: bold;
}


#task-list li div {
	padding: 0px;
	margin: 0px;
	margin-top: -2px;
	color: rgba(78, 78, 242, 0.6); // #4E4EF2;
}

.task-description {
	display: inline-block;
	cursor: pointer;
}

.task-list .context {
	color: #A9A9A9;
}

.task-due {
	flex: 1;
	margin: 0px 2px;
	max-width: 80px;
	padding-top: 0px;
	font-size: 0.6em;
}

.task-priority {
	flex: 1;
	margin: 0px 2px;
	max-width: 80px;
	padding-top: 0px;
	font-size: 0.6em;
}

li.task-item {
	margin-top: 3px;
	padding: 3px;
}

li.task-item:nth-child(even) {background: #CCC}
li.task-item:nth-child(odd) {background: #FFF}

li.task-completed {
	background-color: pink;
}

li.task-completed div.task-description {
	text-decoration: line-through;
}

.task-meta span {
	display: inline-block;
	min-width: 40px;
	cursor: pointer;
	display: inline-block;
	margin: 0 8px;
}

input[type=checkbox].css-checkbox {
	position: absolute;
	 overflow: hidden;
	 clip: rect(0 0 0 0);
	 height:1px;
	 width:1px;
	 margin:-1px;
	 padding:0;
	border:0;
}

input[type=checkbox].css-checkbox + label.css-label {
	padding-left:20px;
	height:15px;
	 display:inline-block;
	line-height:15px;
	background-repeat:no-repeat;
	background-position: 0 0;
	font-size:15px;
	vertical-align:middle;
	cursor:pointer;
}

input[type=checkbox].css-checkbox:checked + label.css-label {
	background-position: 0 -15px;
}
.css-label {
	background-image:url(http://www.csscheckbox.com/checkboxes/lite-x-gray.png);
}

.task-meta-priority {
	text-align: right;
}

/* ************* */
/* New Task Form */
/* ************* */

form#new-task  #newTask {
	border: solid gray thin;
	font-size: 20px;
}
/* newTaskButton */
form#new-task button {
	cursor: pointer;
	border: 3px double;
	min-width: 60px;
	padding: 4px;
}
/* ************** */
/* task edit form */
/* ************** */

#form-wrapper {
	border: solid blue;
	min-height: 70px;
}

/* ************** */
/* task edit form */
/* ************** */

#form-wrapper {
	display: none;
	position: absolute;
}

form#taskEdit {
	border: solid black thin;
	background-color: #FFF;
}

form#taskEdit #description {
	font-size: 20px;
}

input[type=checkbox] {
	border: 5px solid blue;
  transform: scale(1.75);
	margin: 0 4px;
	outline: none;
	padding: 28px;
}

#task-options {
	border: solid blue thin;
	background-color: #FFF;
}

dialog {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 440px;
	height: 240px;;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin-left: -220px;
	margin-top: -220px;
	padding: 0px;
	background: #F48942;
}

dialog p {
	margin: 8px;
	text-align: justify;
	font-size: 32px;
	font-weight: bold;
}

dialog a {
	border: 1px solid;
	width: 160px;
	padding: 8px;
	background: #FFA500;
	text-align: center;
	text-decoration: none;
	font-size: 22px;
	color: black;
}
